@font-face {
    font-family: 'SIEWEB';
    src: url('../fonts/SIEWEB.eot');
    src: url('../fonts/SIEWEB.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SIEWEB.woff2') format('woff2'),
    url('../fonts/SIEWEB.woff') format('woff'),
    url('../fonts/SIEWEB.ttf') format('truetype'),
    url('../fonts/SIEWEB.svg#SIEWEB') format('svg');
    font-weight: normal;
    font-style: normal;
}
.sie {
    display: inline-block;
    font: normal normal normal 14px/1 SIEWEB;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.sie-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.sie-2x {
    font-size: 2em;
}
.sie-3x {
    font-size: 3em;
}
.sie-4x {
    font-size: 4em;
}
.sie-5x {
    font-size: 5em;
}

.sieicon-3d12:before {
	content: "\e001";
}
.sieicon-a:before {
	content: "\e002";
}
.sieicon-a10:before {
	content: "\e003";
}
.sieicon-a13:before {
	content: "\e004";
}
.sieicon-abacus6:before {
	content: "\e005";
}
.sieicon-abc:before {
	content: "\e006";
}
.sieicon-abc16:before {
	content: "\e007";
}
.sieicon-address-book:before {
	content: "\e008";
}
.sieicon-alarm27:before {
	content: "\e009";
}
.sieicon-alphabet3:before {
	content: "\e00a";
}
.sieicon-apple20:before {
	content: "\e00b";
}
.sieicon-archive118:before {
	content: "\e00c";
}
.sieicon-ask3:before {
	content: "\e00d";
}
.sieicon-atom1:before {
	content: "\e00e";
}
.sieicon-atom27:before {
	content: "\e00f";
}
.sieicon-atom29:before {
	content: "\e010";
}
.sieicon-baby29:before {
	content: "\e011";
}
.sieicon-backpack5:before {
	content: "\e012";
}
.sieicon-bad7:before {
	content: "\e013";
}
.sieicon-bald34:before {
	content: "\e014";
}
.sieicon-basketball31:before {
	content: "\e015";
}
.sieicon-basketball32:before {
	content: "\e016";
}
.sieicon-bible5:before {
	content: "\e017";
}
.sieicon-big96:before {
	content: "\e018";
}
.sieicon-black268:before {
	content: "\e019";
}
.sieicon-black269:before {
	content: "\e01a";
}
.sieicon-blackboard22:before {
	content: "\e01b";
}
.sieicon-blank25:before {
	content: "\e01c";
}
.sieicon-book-bag:before {
	content: "\e01d";
}
.sieicon-book104:before {
	content: "\e01e";
}
.sieicon-book115:before {
	content: "\e01f";
}
.sieicon-book117:before {
	content: "\e020";
}
.sieicon-book118:before {
	content: "\e021";
}
.sieicon-book119:before {
	content: "\e022";
}
.sieicon-book122:before {
	content: "\e023";
}
.sieicon-book126:before {
	content: "\e024";
}
.sieicon-book135:before {
	content: "\e025";
}
.sieicon-book137:before {
	content: "\e026";
}
.sieicon-book139:before {
	content: "\e027";
}
.sieicon-book14:before {
	content: "\e028";
}
.sieicon-book154:before {
	content: "\e029";
}
.sieicon-book157:before {
	content: "\e02a";
}
.sieicon-book17:before {
	content: "\e02b";
}
.sieicon-book200:before {
	content: "\e02c";
}
.sieicon-book227:before {
	content: "\e02d";
}
.sieicon-book244:before {
	content: "\e02e";
}
.sieicon-book249:before {
	content: "\e02f";
}
.sieicon-book265:before {
	content: "\e030";
}
.sieicon-book270:before {
	content: "\e031";
}
.sieicon-book272:before {
	content: "\e032";
}
.sieicon-book281:before {
	content: "\e033";
}
.sieicon-book283:before {
	content: "\e034";
}
.sieicon-book293:before {
	content: "\e035";
}
.sieicon-book38:before {
	content: "\e036";
}
.sieicon-book39:before {
	content: "\e037";
}
.sieicon-book40:before {
	content: "\e038";
}
.sieicon-book85:before {
	content: "\e039";
}
.sieicon-book95:before {
	content: "\e03a";
}
.sieicon-book97:before {
	content: "\e03b";
}
.sieicon-book98:before {
	content: "\e03c";
}
.sieicon-bookmark11:before {
	content: "\e03d";
}
.sieicon-bookmark4:before {
	content: "\e03e";
}
.sieicon-books15:before {
	content: "\e03f";
}
.sieicon-books17:before {
	content: "\e040";
}
.sieicon-books19:before {
	content: "\e041";
}
.sieicon-books20:before {
	content: "\e042";
}
.sieicon-books29:before {
	content: "\e043";
}
.sieicon-books30:before {
	content: "\e044";
}
.sieicon-books37:before {
	content: "\e045";
}
.sieicon-books42:before {
	content: "\e046";
}
.sieicon-books44:before {
	content: "\e047";
}
.sieicon-books71:before {
	content: "\e048";
}
.sieicon-books78:before {
	content: "\e049";
}
.sieicon-books8:before {
	content: "\e04a";
}
.sieicon-books91:before {
	content: "\e04b";
}
.sieicon-books95:before {
	content: "\e04c";
}
.sieicon-bottle3:before {
	content: "\e04d";
}
.sieicon-boy11:before {
	content: "\e04e";
}
.sieicon-boy12:before {
	content: "\e04f";
}
.sieicon-boy31:before {
	content: "\e050";
}
.sieicon-briefcase32:before {
	content: "\e051";
}
.sieicon-brush19:before {
	content: "\e052";
}
.sieicon-building4:before {
	content: "\e053";
}
.sieicon-calculation:before {
	content: "\e054";
}
.sieicon-calculation1:before {
	content: "\e055";
}
.sieicon-calculator48:before {
	content: "\e056";
}
.sieicon-calendar130:before {
	content: "\e057";
}
.sieicon-calendar175:before {
	content: "\e058";
}
.sieicon-caret7:before {
	content: "\e059";
}
.sieicon-cell9:before {
	content: "\e05a";
}
.sieicon-certificate1:before {
	content: "\e05b";
}
.sieicon-certificate19:before {
	content: "\e05c";
}
.sieicon-certificate7:before {
	content: "\e05d";
}
.sieicon-certification:before {
	content: "\e05e";
}
.sieicon-checklist1:before {
	content: "\e05f";
}
.sieicon-checkmark2:before {
	content: "\e060";
}
.sieicon-chemistry10:before {
	content: "\e061";
}
.sieicon-chemistry11:before {
	content: "\e062";
}
.sieicon-chemistry29:before {
	content: "\e063";
}
.sieicon-chemistry44:before {
	content: "\e064";
}
.sieicon-chemistry45:before {
	content: "\e065";
}
.sieicon-chemistry8:before {
	content: "\e066";
}
.sieicon-circular114:before {
	content: "\e067";
}
.sieicon-circular116:before {
	content: "\e068";
}
.sieicon-circular22:before {
	content: "\e069";
}
.sieicon-class:before {
	content: "\e06a";
}
.sieicon-class11:before {
	content: "\e06b";
}
.sieicon-class6:before {
	content: "\e06c";
}
.sieicon-class9:before {
	content: "\e06d";
}
.sieicon-classroom:before {
	content: "\e06e";
}
.sieicon-clipboard105:before {
	content: "\e06f";
}
.sieicon-clipboard38:before {
	content: "\e070";
}
.sieicon-cloud232:before {
	content: "\e071";
}
.sieicon-college1:before {
	content: "\e072";
}
.sieicon-color4:before {
	content: "\e073";
}
.sieicon-colors3:before {
	content: "\e074";
}
.sieicon-compass58:before {
	content: "\e075";
}
.sieicon-computer135:before {
	content: "\e076";
}
.sieicon-computer136:before {
	content: "\e077";
}
.sieicon-computer140:before {
	content: "\e078";
}
.sieicon-computer144:before {
	content: "\e079";
}
.sieicon-computer145:before {
	content: "\e07a";
}
.sieicon-computer146:before {
	content: "\e07b";
}
.sieicon-computer214:before {
	content: "\e07c";
}
.sieicon-concentric:before {
	content: "\e07d";
}
.sieicon-conference2:before {
	content: "\e07e";
}
.sieicon-connected20:before {
	content: "\e07f";
}
.sieicon-connection44:before {
	content: "\e080";
}
.sieicon-coordination:before {
	content: "\e081";
}
.sieicon-cube10:before {
	content: "\e082";
}
.sieicon-cubes5:before {
	content: "\e083";
}
.sieicon-cv1:before {
	content: "\e084";
}
.sieicon-daily-calendar1:before {
	content: "\e085";
}
.sieicon-descendant1:before {
	content: "\e086";
}
.sieicon-desk2:before {
	content: "\e087";
}
.sieicon-dictionary:before {
	content: "\e088";
}
.sieicon-dictionary1:before {
	content: "\e089";
}
.sieicon-diploma:before {
	content: "\e08a";
}
.sieicon-diploma2:before {
	content: "\e08b";
}
.sieicon-diploma24:before {
	content: "\e08c";
}
.sieicon-diploma25:before {
	content: "\e08d";
}
.sieicon-diploma6:before {
	content: "\e08e";
}
.sieicon-diploma7:before {
	content: "\e08f";
}
.sieicon-dna9:before {
	content: "\e090";
}
.sieicon-draft1:before {
	content: "\e091";
}
.sieicon-draw20:before {
	content: "\e092";
}
.sieicon-draw39:before {
	content: "\e093";
}
.sieicon-e-learning:before {
	content: "\e094";
}
.sieicon-earth180:before {
	content: "\e095";
}
.sieicon-earth47:before {
	content: "\e096";
}
.sieicon-earth49:before {
	content: "\e097";
}
.sieicon-ebook19:before {
	content: "\e098";
}
.sieicon-ebook23:before {
	content: "\e099";
}
.sieicon-ebook28:before {
	content: "\e09a";
}
.sieicon-ecological5:before {
	content: "\e09b";
}
.sieicon-economy3:before {
	content: "\e09c";
}
.sieicon-education12:before {
	content: "\e09d";
}
.sieicon-education14:before {
	content: "\e09e";
}
.sieicon-education20:before {
	content: "\e09f";
}
.sieicon-education31:before {
	content: "\e0a0";
}
.sieicon-education36:before {
	content: "\e0a1";
}
.sieicon-education6:before {
	content: "\e0a2";
}
.sieicon-educational10:before {
	content: "\e0a3";
}
.sieicon-educational11:before {
	content: "\e0a4";
}
.sieicon-educational14:before {
	content: "\e0a5";
}
.sieicon-educational17:before {
	content: "\e0a6";
}
.sieicon-educational18:before {
	content: "\e0a7";
}
.sieicon-educational24:before {
	content: "\e0a8";
}
.sieicon-educational8:before {
	content: "\e0a9";
}
.sieicon-educative1:before {
	content: "\e0aa";
}
.sieicon-educative2:before {
	content: "\e0ab";
}
.sieicon-electromagnet:before {
	content: "\e0ac";
}
.sieicon-envelope33:before {
	content: "\e0ad";
}
.sieicon-equals:before {
	content: "\e0ae";
}
.sieicon-eraser11:before {
	content: "\e0af";
}
.sieicon-eraser8:before {
	content: "\e0b0";
}
.sieicon-exam-results:before {
	content: "\e0b1";
}
.sieicon-exam:before {
	content: "\e0b2";
}
.sieicon-exam1:before {
	content: "\e0b3";
}
.sieicon-experiment:before {
	content: "\e0b4";
}
.sieicon-experiment2:before {
	content: "\e0b5";
}
.sieicon-feather:before {
	content: "\e0b6";
}
.sieicon-female188:before {
	content: "\e0b7";
}
.sieicon-female189:before {
	content: "\e0b8";
}
.sieicon-female192:before {
	content: "\e0b9";
}
.sieicon-female193:before {
	content: "\e0ba";
}
.sieicon-find6:before {
	content: "\e0bb";
}
.sieicon-first31:before {
	content: "\e0bc";
}
.sieicon-flask22:before {
	content: "\e0bd";
}
.sieicon-flask3:before {
	content: "\e0be";
}
.sieicon-flasks4:before {
	content: "\e0bf";
}
.sieicon-gallery1:before {
	content: "\e0c0";
}
.sieicon-gear25:before {
	content: "\e0c1";
}
.sieicon-gear26:before {
	content: "\e0c2";
}
.sieicon-gears3:before {
	content: "\e0c3";
}
.sieicon-geography1:before {
	content: "\e0c4";
}
.sieicon-geography6:before {
	content: "\e0c5";
}
.sieicon-girl14:before {
	content: "\e0c6";
}
.sieicon-girl15:before {
	content: "\e0c7";
}
.sieicon-girl16:before {
	content: "\e0c8";
}
.sieicon-girl17:before {
	content: "\e0c9";
}
.sieicon-girl19:before {
	content: "\e0ca";
}
.sieicon-good2:before {
	content: "\e0cb";
}
.sieicon-goverment:before {
	content: "\e0cc";
}
.sieicon-graduate1:before {
	content: "\e0cd";
}
.sieicon-graduate11:before {
	content: "\e0ce";
}
.sieicon-graduate12:before {
	content: "\e0cf";
}
.sieicon-graduate2:before {
	content: "\e0d0";
}
.sieicon-graduate20:before {
	content: "\e0d1";
}
.sieicon-graduate21:before {
	content: "\e0d2";
}
.sieicon-graduate23:before {
	content: "\e0d3";
}
.sieicon-graduate31:before {
	content: "\e0d4";
}
.sieicon-graduate32:before {
	content: "\e0d5";
}
.sieicon-graduate33:before {
	content: "\e0d6";
}
.sieicon-graduate34:before {
	content: "\e0d7";
}
.sieicon-graduate37:before {
	content: "\e0d8";
}
.sieicon-graduate38:before {
	content: "\e0d9";
}
.sieicon-graduate5:before {
	content: "\e0da";
}
.sieicon-graduate8:before {
	content: "\e0db";
}
.sieicon-graduate9:before {
	content: "\e0dc";
}
.sieicon-graduated:before {
	content: "\e0dd";
}
.sieicon-graduates2:before {
	content: "\e0de";
}
.sieicon-graduation-cap1:before {
	content: "\e0df";
}
.sieicon-graduation-cap2:before {
	content: "\e0e0";
}
.sieicon-graduation10:before {
	content: "\e0e1";
}
.sieicon-graduation12:before {
	content: "\e0e2";
}
.sieicon-graduation16:before {
	content: "\e0e3";
}
.sieicon-graduation19:before {
	content: "\e0e4";
}
.sieicon-graduation20:before {
	content: "\e0e5";
}
.sieicon-graduation22:before {
	content: "\e0e6";
}
.sieicon-graduation25:before {
	content: "\e0e7";
}
.sieicon-graduation30:before {
	content: "\e0e8";
}
.sieicon-graduation35:before {
	content: "\e0e9";
}
.sieicon-graduation6:before {
	content: "\e0ea";
}
.sieicon-grammar:before {
	content: "\e0eb";
}
.sieicon-guides:before {
	content: "\e0ec";
}
.sieicon-happy45:before {
	content: "\e0ed";
}
.sieicon-hardbound:before {
	content: "\e0ee";
}
.sieicon-head21:before {
	content: "\e0ef";
}
.sieicon-head32:before {
	content: "\e0f0";
}
.sieicon-history3:before {
	content: "\e0f1";
}
.sieicon-history4:before {
	content: "\e0f2";
}
.sieicon-idea13:before {
	content: "\e0f3";
}
.sieicon-instructor:before {
	content: "\e0f4";
}
.sieicon-instructor1:before {
	content: "\e0f5";
}
.sieicon-internet18:before {
	content: "\e0f6";
}
.sieicon-investigation2:before {
	content: "\e0f7";
}
.sieicon-junk5:before {
	content: "\e0f8";
}
.sieicon-kids1:before {
	content: "\e0f9";
}
.sieicon-kindergarden:before {
	content: "\e0fa";
}
.sieicon-lab2:before {
	content: "\e0fb";
}
.sieicon-laptop129:before {
	content: "\e0fc";
}
.sieicon-laptop88:before {
	content: "\e0fd";
}
.sieicon-lecture2:before {
	content: "\e0fe";
}
.sieicon-library5:before {
	content: "\e0ff";
}
.sieicon-library79:before {
	content: "\e100";
}
.sieicon-library80:before {
	content: "\e101";
}
.sieicon-library81:before {
	content: "\e102";
}
.sieicon-library82:before {
	content: "\e103";
}
.sieicon-light77:before {
	content: "\e104";
}
.sieicon-lightbulb23:before {
	content: "\e105";
}
.sieicon-magnifier24:before {
	content: "\e106";
}
.sieicon-magnifyingglass48:before {
	content: "\e107";
}
.sieicon-magnifyingglass60:before {
	content: "\e108";
}
.sieicon-male103:before {
	content: "\e109";
}
.sieicon-male210:before {
	content: "\e10a";
}
.sieicon-male215:before {
	content: "\e10b";
}
.sieicon-man205:before {
	content: "\e10c";
}
.sieicon-man216:before {
	content: "\e10d";
}
.sieicon-man315:before {
	content: "\e10e";
}
.sieicon-mathematical4:before {
	content: "\e10f";
}
.sieicon-maths2:before {
	content: "\e110";
}
.sieicon-maths26:before {
	content: "\e111";
}
.sieicon-maths5:before {
	content: "\e112";
}
.sieicon-maths52:before {
	content: "\e113";
}
.sieicon-maze:before {
	content: "\e114";
}
.sieicon-medal45:before {
	content: "\e115";
}
.sieicon-medal47:before {
	content: "\e116";
}
.sieicon-mind:before {
	content: "\e117";
}
.sieicon-molecule10:before {
	content: "\e118";
}
.sieicon-mortarboard3:before {
	content: "\e119";
}
.sieicon-movie19:before {
	content: "\e11a";
}
.sieicon-music229:before {
	content: "\e11b";
}
.sieicon-musical76:before {
	content: "\e11c";
}
.sieicon-network46:before {
	content: "\e11d";
}
.sieicon-newspaper13:before {
	content: "\e11e";
}
.sieicon-newspaper2:before {
	content: "\e11f";
}
.sieicon-newsreporter:before {
	content: "\e120";
}
.sieicon-note28:before {
	content: "\e121";
}
.sieicon-notebook19:before {
	content: "\e122";
}
.sieicon-notebook83:before {
	content: "\e123";
}
.sieicon-notebook87:before {
	content: "\e124";
}
.sieicon-notepad52:before {
	content: "\e125";
}
.sieicon-notepad53:before {
	content: "\e126";
}
.sieicon-notes16:before {
	content: "\e127";
}
.sieicon-numbers14:before {
	content: "\e128";
}
.sieicon-online15:before {
	content: "\e129";
}
.sieicon-online21:before {
	content: "\e12a";
}
.sieicon-online26:before {
	content: "\e12b";
}
.sieicon-open:before {
	content: "\e12c";
}
.sieicon-open114:before {
	content: "\e12d";
}
.sieicon-open135:before {
	content: "\e12e";
}
.sieicon-open160:before {
	content: "\e12f";
}
.sieicon-open161:before {
	content: "\e130";
}
.sieicon-open163:before {
	content: "\e131";
}
.sieicon-open182:before {
	content: "\e132";
}
.sieicon-openbook:before {
	content: "\e133";
}
.sieicon-openbook6:before {
	content: "\e134";
}
.sieicon-opened13:before {
	content: "\e135";
}
.sieicon-orbital:before {
	content: "\e136";
}
.sieicon-organized:before {
	content: "\e137";
}
.sieicon-owl9:before {
	content: "\e138";
}
.sieicon-painbrush:before {
	content: "\e139";
}
.sieicon-pair:before {
	content: "\e13a";
}
.sieicon-paper-plane:before {
	content: "\e13b";
}
.sieicon-paper101:before {
	content: "\e13c";
}
.sieicon-paper102:before {
	content: "\e13d";
}
.sieicon-paper19:before {
	content: "\e13e";
}
.sieicon-paper42:before {
	content: "\e13f";
}
.sieicon-paper98:before {
	content: "\e140";
}
.sieicon-paperclip14:before {
	content: "\e141";
}
.sieicon-parent:before {
	content: "\e142";
}
.sieicon-pass2:before {
	content: "\e143";
}
.sieicon-pen:before {
	content: "\e144";
}
.sieicon-pen13:before {
	content: "\e145";
}
.sieicon-pen19:before {
	content: "\e146";
}
.sieicon-pen38:before {
	content: "\e147";
}
.sieicon-pen39:before {
	content: "\e148";
}
.sieicon-pen40:before {
	content: "\e149";
}
.sieicon-pencil1:before {
	content: "\e14a";
}
.sieicon-pencil108:before {
	content: "\e14b";
}
.sieicon-pencil112:before {
	content: "\e14c";
}
.sieicon-pencil36:before {
	content: "\e14d";
}
.sieicon-pencil66:before {
	content: "\e14e";
}
.sieicon-pencil81:before {
	content: "\e14f";
}
.sieicon-pens:before {
	content: "\e150";
}
.sieicon-pens2:before {
	content: "\e151";
}
.sieicon-pens3:before {
	content: "\e152";
}
.sieicon-pens5:before {
	content: "\e153";
}
.sieicon-people:before {
	content: "\e154";
}
.sieicon-people30:before {
	content: "\e155";
}
.sieicon-person277:before {
	content: "\e156";
}
.sieicon-person326:before {
	content: "\e157";
}
.sieicon-persong:before {
	content: "\e158";
}
.sieicon-persons8:before {
	content: "\e159";
}
.sieicon-pest:before {
	content: "\e15a";
}
.sieicon-photo146:before {
	content: "\e15b";
}
.sieicon-physics2:before {
	content: "\e15c";
}
.sieicon-physics7:before {
	content: "\e15d";
}
.sieicon-pie46:before {
	content: "\e15e";
}
.sieicon-pile:before {
	content: "\e15f";
}
.sieicon-planetearth5:before {
	content: "\e160";
}
.sieicon-planning2:before {
	content: "\e161";
}
.sieicon-playground:before {
	content: "\e162";
}
.sieicon-plus13:before {
	content: "\e163";
}
.sieicon-poetry:before {
	content: "\e164";
}
.sieicon-professor1:before {
	content: "\e165";
}
.sieicon-professor14:before {
	content: "\e166";
}
.sieicon-professor2:before {
	content: "\e167";
}
.sieicon-professor5:before {
	content: "\e168";
}
.sieicon-professor7:before {
	content: "\e169";
}
.sieicon-protein3:before {
	content: "\e16a";
}
.sieicon-puzzle-piece1:before {
	content: "\e16b";
}
.sieicon-question41:before {
	content: "\e16c";
}
.sieicon-question42:before {
	content: "\e16d";
}
.sieicon-question43:before {
	content: "\e16e";
}
.sieicon-question44:before {
	content: "\e16f";
}
.sieicon-quiz:before {
	content: "\e170";
}
.sieicon-read:before {
	content: "\e171";
}
.sieicon-reading-glasses1:before {
	content: "\e172";
}
.sieicon-reading36:before {
	content: "\e173";
}
.sieicon-reading42:before {
	content: "\e174";
}
.sieicon-reading43:before {
	content: "\e175";
}
.sieicon-research4:before {
	content: "\e176";
}
.sieicon-rolled3:before {
	content: "\e177";
}
.sieicon-ruler13:before {
	content: "\e178";
}
.sieicon-ruler14:before {
	content: "\e179";
}
.sieicon-school-materials1:before {
	content: "\e17a";
}
.sieicon-school29:before {
	content: "\e17b";
}
.sieicon-school31:before {
	content: "\e17c";
}
.sieicon-school32:before {
	content: "\e17d";
}
.sieicon-school33:before {
	content: "\e17e";
}
.sieicon-school35:before {
	content: "\e17f";
}
.sieicon-school43:before {
	content: "\e180";
}
.sieicon-school47:before {
	content: "\e181";
}
.sieicon-school49:before {
	content: "\e182";
}
.sieicon-school76:before {
	content: "\e183";
}
.sieicon-school84:before {
	content: "\e184";
}
.sieicon-school93:before {
	content: "\e185";
}
.sieicon-schoolmaterial20:before {
	content: "\e186";
}
.sieicon-science25:before {
	content: "\e187";
}
.sieicon-science30:before {
	content: "\e188";
}
.sieicon-science40:before {
	content: "\e189";
}
.sieicon-science44:before {
	content: "\e18a";
}
.sieicon-science49:before {
	content: "\e18b";
}
.sieicon-science50:before {
	content: "\e18c";
}
.sieicon-science51:before {
	content: "\e18d";
}
.sieicon-science77:before {
	content: "\e18e";
}
.sieicon-science78:before {
	content: "\e18f";
}
.sieicon-sciences:before {
	content: "\e190";
}
.sieicon-search1:before {
	content: "\e191";
}
.sieicon-send4:before {
	content: "\e192";
}
.sieicon-sheet3:before {
	content: "\e193";
}
.sieicon-sinusoid1:before {
	content: "\e194";
}
.sieicon-smiling37:before {
	content: "\e195";
}
.sieicon-soccer32:before {
	content: "\e196";
}
.sieicon-speech84:before {
	content: "\e197";
}
.sieicon-sports26:before {
	content: "\e198";
}
.sieicon-spreadsheet4:before {
	content: "\e199";
}
.sieicon-spreadsheet5:before {
	content: "\e19a";
}
.sieicon-square74:before {
	content: "\e19b";
}
.sieicon-stopwatch6:before {
	content: "\e19c";
}
.sieicon-student1:before {
	content: "\e19d";
}
.sieicon-student16:before {
	content: "\e19e";
}
.sieicon-student2:before {
	content: "\e19f";
}
.sieicon-student23:before {
	content: "\e1a0";
}
.sieicon-student35:before {
	content: "\e1a1";
}
.sieicon-student39:before {
	content: "\e1a2";
}
.sieicon-student40:before {
	content: "\e1a3";
}
.sieicon-student42:before {
	content: "\e1a4";
}
.sieicon-student43:before {
	content: "\e1a5";
}
.sieicon-student48:before {
	content: "\e1a6";
}
.sieicon-student49:before {
	content: "\e1a7";
}
.sieicon-student51:before {
	content: "\e1a8";
}
.sieicon-student69:before {
	content: "\e1a9";
}
.sieicon-student71:before {
	content: "\e1aa";
}
.sieicon-student9:before {
	content: "\e1ab";
}
.sieicon-students10:before {
	content: "\e1ac";
}
.sieicon-students11:before {
	content: "\e1ad";
}
.sieicon-students12:before {
	content: "\e1ae";
}
.sieicon-students14:before {
	content: "\e1af";
}
.sieicon-students16:before {
	content: "\e1b0";
}
.sieicon-students17:before {
	content: "\e1b1";
}
.sieicon-students2:before {
	content: "\e1b2";
}
.sieicon-students3:before {
	content: "\e1b3";
}
.sieicon-students5:before {
	content: "\e1b4";
}
.sieicon-students7:before {
	content: "\e1b5";
}
.sieicon-students8:before {
	content: "\e1b6";
}
.sieicon-study5:before {
	content: "\e1b7";
}
.sieicon-swimming18:before {
	content: "\e1b8";
}
.sieicon-swimming21:before {
	content: "\e1b9";
}
.sieicon-table7:before {
	content: "\e1ba";
}
.sieicon-teacher10:before {
	content: "\e1bb";
}
.sieicon-teacher12:before {
	content: "\e1bc";
}
.sieicon-teacher14:before {
	content: "\e1bd";
}
.sieicon-teacher17:before {
	content: "\e1be";
}
.sieicon-teacher24:before {
	content: "\e1bf";
}
.sieicon-teacher26:before {
	content: "\e1c0";
}
.sieicon-teacher32:before {
	content: "\e1c1";
}
.sieicon-teacher33:before {
	content: "\e1c2";
}
.sieicon-teacher35:before {
	content: "\e1c3";
}
.sieicon-teacher36:before {
	content: "\e1c4";
}
.sieicon-teacher37:before {
	content: "\e1c5";
}
.sieicon-teacher4:before {
	content: "\e1c6";
}
.sieicon-teacher41:before {
	content: "\e1c7";
}
.sieicon-teacher46:before {
	content: "\e1c8";
}
.sieicon-teacher6:before {
	content: "\e1c9";
}
.sieicon-teacher8:before {
	content: "\e1ca";
}
.sieicon-teacher9:before {
	content: "\e1cb";
}
.sieicon-teachers1:before {
	content: "\e1cc";
}
.sieicon-teaching2:before {
	content: "\e1cd";
}
.sieicon-telescope6:before {
	content: "\e1ce";
}
.sieicon-telescope7:before {
	content: "\e1cf";
}
.sieicon-test1:before {
	content: "\e1d0";
}
.sieicon-test17:before {
	content: "\e1d1";
}
.sieicon-test20:before {
	content: "\e1d2";
}
.sieicon-tests:before {
	content: "\e1d3";
}
.sieicon-testtube12:before {
	content: "\e1d4";
}
.sieicon-testtube8:before {
	content: "\e1d5";
}
.sieicon-testtube9:before {
	content: "\e1d6";
}
.sieicon-text87:before {
	content: "\e1d7";
}
.sieicon-textile:before {
	content: "\e1d8";
}
.sieicon-thoughts:before {
	content: "\e1d9";
}
.sieicon-thumb30:before {
	content: "\e1da";
}
.sieicon-thumb31:before {
	content: "\e1db";
}
.sieicon-tie13:before {
	content: "\e1dc";
}
.sieicon-time12:before {
	content: "\e1dd";
}
.sieicon-timetable:before {
	content: "\e1de";
}
.sieicon-title:before {
	content: "\e1df";
}
.sieicon-touching:before {
	content: "\e1e0";
}
.sieicon-tree97:before {
	content: "\e1e1";
}
.sieicon-trophy17:before {
	content: "\e1e2";
}
.sieicon-two128:before {
	content: "\e1e3";
}
.sieicon-two174:before {
	content: "\e1e4";
}
.sieicon-university-degree:before {
	content: "\e1e5";
}
.sieicon-university21:before {
	content: "\e1e6";
}
.sieicon-university22:before {
	content: "\e1e7";
}
.sieicon-university25:before {
	content: "\e1e8";
}
.sieicon-university8:before {
	content: "\e1e9";
}
.sieicon-verified9:before {
	content: "\e1ea";
}
.sieicon-video-play:before {
	content: "\e1eb";
}
.sieicon-winner4:before {
	content: "\e1ec";
}
.sieicon-winner5:before {
	content: "\e1ed";
}
.sieicon-winner7:before {
	content: "\e1ee";
}
.sieicon-winners1:before {
	content: "\e1ef";
}
.sieicon-winners2:before {
	content: "\e1f0";
}
.sieicon-write12:before {
	content: "\e1f1";
}
.sieicon-write37:before {
	content: "\e1f2";
}
.sieicon-write61:before {
	content: "\e1f3";
}
.sieicon-writing11:before {
	content: "\e1f4";
}
.sieicon-writing17:before {
	content: "\e1f5";
}
.sieicon-writing19:before {
	content: "\e1f6";
}
.sieicon-writing30:before {
	content: "\e1f7";
}
.sieicon-writingtool2:before {
	content: "\e1f8";
}
